<header>
    <!-- Top bar: brand + My Account -->
    <div class="header-bar">
      <div class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
      </div>
      <div id="tools">
        <a href="/account/login" class="nav-link" title="Click to log in">My Account</a>
      </div>
    </div>
  
    <!-- Main nav row -->
    <%- include('navigation') %>
  </header>
  