<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- ensures proper scaling on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- update the site name -->
    <title><%= title %> | CSE Motors</title>
  
    <!-- mobile‑first CSS; add media="screen" -->
    <link rel="stylesheet" href="/css/styles.css" media="screen">
  </head>
  