<% title = 'Home' %>

<section class="hero">
  <div class="hero-content">
    <div class="hero-image">
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    </div>
    <div class="hero-text">
      <h1>Welcome to CSE Motors!</h1>
      <h2><a href="/" class="hero-link">DMC DeLorean</a></h2>
      <ul class="hero-features">
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
      </ul>
      <a href="/" class="btn hero-btn">Own Today</a>
    </div>
  </div>
</section>

<hr class="section-divider">

<section class="reviews-upgrades">
  <div class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade-grid">
      <div class="upgrade-item">
        <a href="/" class="upgrade-image-link">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        </a>
        <a href="/" class="upgrade-name-link">
          <span>Flux Capacitor</span>
        </a>
      </div>
      <div class="upgrade-item">
        <a href="/" class="upgrade-image-link">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        </a>
        <a href="/" class="upgrade-name-link">
          <span>Flame Decals</span>
        </a>
      </div>
      <div class="upgrade-item">
        <a href="/" class="upgrade-image-link">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        </a>
        <a href="/" class="upgrade-name-link">
          <span>Bumper Stickers</span>
        </a>
      </div>
      <div class="upgrade-item">
        <a href="/" class="upgrade-image-link">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        </a>
        <a href="/" class="upgrade-name-link">
          <span>Hub Caps</span>
        </a>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h2>DMC DeLorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"'80s livin' and I love it!" (5/5)</li>
    </ul>
  </div>
</section>
